/* Wichtige Hinweise für die Integration von Primefaces mit plis-web in Anwendungen
1. Anwendungen müssen das Basis-Template (basis.xhtml) aus plis-web überschreiben und den jQuery-Import entfernen.
*/

/* Primefaces-Pagniatoren benötigen eine Zeilenhöhe von 1. */
/* Bei Zeilenöhen >1 sind u.U. mehrere Icons auf den Schaltflächen sichtbar. */
.ui-paginator {
    line-height: 1;
}

/* Primefaces verwendet das Standard-Box-Sizing, plis-web definiert global "border-box". */
/* Label von SelectOneMenus sind mit dem Box-Sizing von plis-web zu klein. */
.ui-selectonemenu-label {
    box-sizing: content-box;
}

/* Buttons zum Öffnen von SelectOneMenus sind mit dem Box-Sizing von plis-web zu klein. */
.ui-selectonemenu-trigger {
    box-sizing: content-box;
}